.product {
    &__carouselImages{
        display: flex;
        align-items: center;
        max-width: 30%;
        max-height: 50rem;
    }

    &__image{
       height: 30rem;
       width: 100%;
       max-width: 40rem;
       border-radius: 1rem;
    }

}