.card {
  border-radius: 2rem;
  &__container {
    &__image {
      width: 25rem;
      height: 20rem;
      max-height: 25rem;
      display: grid;
      place-items: center;
      overflow: hidden;
    }

    &__title {
      width: 25rem;
      height: 5rem;
      display: grid;
      place-items: center;
      overflow: hidden;
    }

    &__details {
      display: flex;
      flex-direction: row;
        align-items: center;
        justify-content: space-around;
      overflow: hidden;
      gap: 0.5rem;
    }

    &__price {
      display: flex;
      align-items: center;
        justify-content: center;
      overflow: hidden;
      padding-top: 1rem;
    }

    &__buyBox {
      width: 80%;
      align-self: center;
      background: $linear-gradient-2;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      gap: 1rem;
      padding: 1rem;
      cursor: pointer;
      border-radius: 5rem;
      margin-bottom: 1rem;

      &:hover {
        background: $linear-gradient;
      }

      &__text {
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__icon {
        color: $color-white;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__img {
    width: 60%;
    height: 60%;
    object-fit: fill;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: $color-black;
    text-align: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__stock {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-green;
    text-align: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 1rem;
    p {
      color: $color-black;
    }

    &__icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__outstock {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-red;
    text-align: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 1rem;
    p {
      color: $color-black;
    }
  }

  &__stars {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 0.5rem;
    span {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  &__fav {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: $linear-gradient-2;
    color: $color-white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      color: $color-red;
    }
  }

  &__price {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
    text-align: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
