header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    // background-image: linear-gradient(360deg, $color-primary 0%, $color-secondary 54%);
}

.header{
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10rem;
        margin-bottom: 2rem;
    }


}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-right: 1rem; 
    width: 20%;
    cursor: pointer;
  
}

.logo img{
  
    transition: all 0.2s;
    
    &:hover{
        transform: rotate(360deg);
    }

}